<div class="full-width-div" id="welcome">
  <h1 class="display-3">Welcome to Jibe</h1>
  <h4>Keep you & yours organized</h4>
  <div class="buttons"></div>
</div>

<div class="todoList">
  <div class="todoListHeader">
    To Do Items
    <a class="newTodo" href="/todos/new"> + </a>
  </div>
  <div class="todos">
    <% @todo.each do |item| %>
      <p id="todo">
        <strong>You need to...</strong> <%= item.item %>
        <%= button_to "Delete" %>
        <br>
      </p>
    <% end %>
  </div>
</div>

<footer>Made by Beth Witten</footer>
