<div class="full-width-div" id="welcome">
  <h1 class="display-3">Welcome to Jibe</h1>
  <h4>Keep you & yours organized</h4>
  <div class="buttons"></div>
</div>


<% @todo.each do |item| %>
  <p>
    <strong>Item:</strong> <%= item.item %><br>
    <strong>Completed?</strong> <%= item.completed%><br>
  </p>
<% end %>
