<div class="todoListHeader">
  <h3><%= @todo.item %></h3>
  <p><%=  @todo.completed %></p>
  <p><%= button_to "Delete", @creature, method: :delete %></p>
  <a href="/"> Go Back to JIBE Home </a>
</div>
